.inventory {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -338px;
  width: 676px;
  background: #30325c;
  height: 84px;
  top: 10px;
}

.inventory-tile {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  width: 64px;
  height: 64px;

  &.active {
    outline: 4px solid #ddd;
  }
  &:hover {
    outline: 4px solid #616394;
  }

  > .count {
    position: absolute;
    left: 2px;
    top: 2px;
    background: #4a5386;
    color: #ddd;
    width: 16px;
    text-align: center;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    font-family: monospace;
  }
}