
<div id="back-button" class="button">
    <img src="../../assets/ui/back.png">
</div>

<div id="container">
    <h1>Options</h1>
    <div class="item">
        <p>Option item</p>
        <input class="slider" min="1" max="100" value="100" type="range">
        <p>100</p>
    </div>
    <div class="item">
        <p>Option item</p>
        <input class="slider" min="1" max="100" value="100" type="range">
        <p>100</p>
    </div>
    <div class="item">
        <p>Option item</p>
        <input class="slider" min="1" max="100" value="100" type="range">
        <p>100</p>
    </div>
    <div class="item">
        <p>Option item</p>
        <input class="slider" min="1" max="100" value="100" type="range">
        <p>100</p>
    </div>

    <div class="item">
        <div class="button">Reset to defaults</div>
    </div>

</div>