<div id="undo-button" class="button" (click)="undo()">
  Undo move
</div>

<div id="score-counter">
  <img src="./assets/game/grate.png">
  {{ score }}
</div>

<div class="board-outer"
    [ngStyle]="boardOuterStyle"
    (mousemove)="onMouseMove($event)"
    (wheel)="onScroll($event)"
    (click)="onClick()">
  <div class="board-overflow" [ngStyle]="boardOverflowStyle">
    <div #boardRef class="board" [ngStyle]="boardStyle">
      <tile *ngFor="let placedTile of placedTiles"
            [tile]="placedTile.tile"
            [ngStyle]="placedTile.style"
            style="position: absolute;">
      </tile>

      <div class="steam-wrapper" *ngFor="let steam of steamParts" [ngStyle]="steam.style">
        <div class="steam" [ngClass]="['steam-' + steam.side]"></div>
      </div>

      <tile *ngIf="placeholder !== undefined"
            class="placeholder"
            [tile]="placeholder.tile"
            [ngStyle]="placeholder.style"
            [ngClass]="{'placeable': placeholder.placeable}">
      </tile>
    </div>
  </div>
</div>

<ul class="messages" *ngIf="messages[levelIndex]">
  <li *ngFor="let message of messages[levelIndex]">{{ message }}</li>
</ul>
