<div id="undo-button" class="button" (click)="undo()">
  Undo move
</div>

<div id="score-counter">
  <img src="./assets/game/grate.png">
  {{ score }}
  <span style="margin-left: 20px">
    {{ levelIndex + 1 }}/{{ totalLevels }}
  </span>
</div>

<div class="board-outer"
    [ngStyle]="boardOuterStyle"
    (mousemove)="onMouseMove($event)"
    (wheel)="onScroll($event)"
    (click)="onClick()">
  <div class="board-overflow" [ngStyle]="boardOverflowStyle">
    <div #boardRef class="board" [ngStyle]="boardStyle">
      <tile *ngFor="let placedTile of placedTiles"
            [tile]="placedTile.tile"
            [ngStyle]="placedTile.style"
            style="position: absolute;">
      </tile>

      <div class="steam-wrapper" *ngFor="let steam of steamParts" [ngStyle]="steam.style">
        <div class="steam" [ngClass]="['steam-' + steam.side]"></div>
      </div>

      <tile *ngIf="placeholder !== undefined"
            class="placeholder"
            [tile]="placeholder.tile"
            [ngStyle]="placeholder.style"
            [ngClass]="{'placeable': placeholder.placeable}">
      </tile>
    </div>
  </div>
</div>

<ul class="messages" *ngIf="messages[levelIndex]">
  <li *ngFor="let message of messages[levelIndex]">{{ message }}</li>
</ul>

<div class="controls-menu">
  <p>Use <b>mouse-click</b> or <b>1</b>, <b>2</b> or <b>3</b> to select tile from the inventory.</p>
  <p>Use <b>mouse-wheel</b> or <b>Q</b>/<b>E</b> to rotate the tile.</p>
  <p>Use <b>undo button</b> or <b>U</b> to undo a move.</p>
  <p>Use <b>M</b> to toggle music play.</p>
</div>