@import "../../font";
@import "../../ui";
@import "../../variables";

.board-outer {
  position: absolute;
  left: 50%;
  top: 120px;
  outline: 4px solid #30325c;
}

.board-overflow {
  position: relative;
  margin: 14px;
  overflow: hidden;
}

.board {
  position: relative;
  width: 6400px;
  transition: margin 600ms;
  background-image: url('../../assets/tile-empty.png');
  background-size: 64px 64px;
  image-rendering: pixelated;
}

.placeholder {
  position: absolute;
  outline: 2px solid red;
  opacity: 0.35;

  &.placeable {
    outline: 4px solid green;
    opacity: 0.6;
  }
}

.steam-wrapper {
  position: absolute;
  opacity: 0.5;

  .steam {
    position: absolute;
    image-rendering: pixelated;

    &.steam-0 {
      left: -50px;
      top: 24px;
      width: 48px;
      height: 16px;
      background-image: url('../../assets/steam/steam-left-loop.gif');
      background-size: 48px 16px;
    }

    &.steam-1 {
      left: 24px;
      width: 16px;
      height: 48px;
      top: -50px;
      background-image: url('../../assets/steam/steam-top-loop.gif');
      background-size: 16px 48px;
    }

    &.steam-2 {
      left: 66px;
      top: 24px;
      width: 48px;
      height: 16px;
      background-image: url('../../assets/steam/steam-right-loop.gif');
      background-size: 48px 16px;
    }

    &.steam-3 {
      left: 24px;
      top: 66px;
      width: 16px;
      height: 48px;
      background-image: url('../../assets/steam/steam-bottom-loop.gif');
      background-size: 16px 48px;
    }
  }
}

.smoke {
  position: absolute;
  width: 16px;
  height: 48px;
  background: url('../../assets/smoke.gif');
  background-size: 16px 48px;
  opacity: 0.5;
  left: 24px;
  top: -50px;

  &:first-of-type {
    left: 0;
  }
  &:last-of-type {
    left: 48px;
  }
}

#undo-button {
  position: absolute;
  left: 50%;
  width: 180px;
  margin-left: 134px;
  top: 2px;
}

.messages {
  position: absolute;
  top: 480px;
  width: 668px;
  left: 50%;
  margin-left: -334px;

  font-family: "VCR_OSD_MONO";
  color: rgba(222, 222, 222, 0.75);
  font-size: 18px;
  padding: 0px;

  > li {
    margin-left: 0;
    text-indent: 0;
    list-style-type: square;
    display: block;
    margin-bottom: 14px;
    line-height: 26px;
  }
}
