@import "../../font";
@import "../../ui";
@import "../../variables";

.board-outer {
  position: absolute;
  left: 50%;
  top: 50%;
  outline: 4px solid #30325c;
}

.board-overflow {
  position: relative;
  margin: 14px;
  overflow: hidden;
}

.board {
  position: relative;
  width: 6400px;
  transition: margin 600ms;
  background-image: url('../../assets/tile-empty.png');
  background-size: 64px 64px;
  image-rendering: pixelated;
}

.placeholder {
  position: absolute;
  outline: 2px solid red;
  opacity: 0.35;

  &.placeable {
    outline: 4px solid green;
    opacity: 0.6;
  }
}

.smoke {
  position: absolute;
  width: 16px;
  height: 48px;
  background: url('../../assets/smoke.gif');
  background-size: 16px 48px;
  opacity: 0.5;
  left: 24px;
  top: -50px;

  &:first-of-type {
    left: 0;
  }
  &:last-of-type {
    left: 48px;
  }
}


.a {
  position: absolute;
  top: 800px;
  border: 1px solid red;
  width: 800px;
  height: 100px;
  left: 50%;
  margin-left: -400px;
  overflow: hidden;
}

.b {
  transition: margin 500ms;
  width: 1200px;
  height: 100px;
  background: url('../../assets/board.png');
}

.board-outer {
  position: absolute;
  border: 1px;
}


#back-button {
  width: 48px;
  height: 48px;
  position: absolute;
}

.messages {
  position: absolute;
  top: 700px;
  width: 750px;
  left: 50%;
  margin-left: -375px;

  font-family: monospace;
  color: rgba(222, 222, 222, 0.75);
  font-size: 20px;

  > li {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
  }
}