<div id="back-button" class="button" (click)="back()">
  <img src="../../assets/ui/back.png">
</div>

<div class="board-outer"
    [ngStyle]="boardOuterStyle"
    (mousemove)="onMouseMove($event)"
    (wheel)="onScroll($event)"
    (click)="onClick()">
  <div class="board-overflow" [ngStyle]="boardOverflowStyle">
    <div #boardRef class="board" [ngStyle]="boardStyle">
      <tile *ngFor="let placedTile of placedTiles"
            [tile]="placedTile.tile"
            [ngStyle]="placedTile.style"
            style="position: absolute;">
      </tile>

      <tile *ngIf="placeholder !== undefined"
            class="placeholder"
            [tile]="placeholder.tile"
            [ngStyle]="placeholder.style"
            [ngClass]="{'placeable': placeholder.placeable}">
      </tile>
    </div>
  </div>
</div>

<ul class="messages" *ngIf="messages[levelIndex]">
  <li *ngFor="let message of messages[levelIndex]">{{ message }}</li>
</ul>
